<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика опроса: {{ survey.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <header>
        <div>
            <a href="{% url 'index' %}">Опросник</a>
            <button onclick="location.href='{% url 'create_survey' %}'">Создать опрос</button>

            {% if request.user.groups.first.name == 'Администратор' %}
                <button onclick="location.href='{% url 'create_profile' %}'">Создать профиль</button>
            {% endif %}

            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Выйти из аккаунта</button>
            </form>
        </div>
    </header>

    <main class="survey-stats">
        <h1>Статистика опроса: "{{ survey.title }}"</h1>

        <h2>Детальная статистика по вопросам</h2>

        {% for stat in stats %}
            <section class="question-section">
                <h3>{{ stat.question }}</h3>
                <ul>
                    {% for option in stat.data %}
                        <li>{{ option.option }} — {{ option.count|default:0 }} ответ(ов)</li>
                    {% empty %}
                        <li><i>Нет вариантов ответа</i></li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}

        <!-- Кнопка возврата на главную страницу -->
        <div class="back-to-home">
            <a href="{% url 'index' %}" class="back-button">Вернуться на главную</a>
        </div>
    </main>

    <footer>
        <p>LADA SPIRT</p>
    </footer>
</body>
</html>
